<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>PAC密码修改成功</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <style>
        .content-main {
            margin-top: 20%;
            margin-left: 45%;
            background-color: #ffffffe3;
            padding: 10px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<div class="flex-center">
    <div class="container content-main">
        <div>
            <h2 class="logo" style="text-align: center;margin-top: 10px;"><a href="{% url 'index' %}">PAC</a></h2>
            <H4>密码修改成功！</H4>
        </div>
    </div>
</div>
</body>
    <script src="/static/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="/static/js/util.js"></script>
</html>