<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>添加爬虫规则</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/material-bootstrap-wizard.css" rel="stylesheet" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/static/css/demo.css" rel="stylesheet" />

    <!-- chart -->
    <link rel="stylesheet" href="/asset/css/amazeui.css" />
    <link rel="stylesheet" href="/asset/css/core.css" />
    <link rel="stylesheet" href="/asset/css/menu.css" />
    <link rel="stylesheet" href="/asset/css/index.css" />
    <link rel="stylesheet" href="/asset/css/admin.css" />

    <style type="text/css">
        .selectting{
            background-color: #dedede !important;
        }
        .selected{
            background-color: #c2c2c2 !important;
        }
        .col-sm-12 .col-sm-3{
            width: 25%;
            margin-left: 0px;
            margin-right: 0px;
            display: inline-block;
        }
        .col-sm-12 .col-sm-4{
            width: 33.333%;
            margin-left: 0px;
            margin-right: 0px;
            display: inline-block;
        }
        .col-sm-12 .col-sm-6{
            width: 50%;
            margin-left: 0px;
            margin-right: 0px;
            display: inline-block;
        }
        
        .made-with-mk{
            width: 60px;
        }
        .made-with{
            left: 70px !important;
            top: 17px !important;
        }
        .btto{
        	border-top: 1px solid rgba(152, 166, 173, 0.2);
        	color: #98a6ad;
        }
    </style>
    
    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="/asset/css/bootstrap.min.css">

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="/asset/css/plugins/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/asset/css/plugins/datatables.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/asset/css/plugins/animate.min.css"/>
    <link href="/asset/css/style.css" rel="stylesheet">
    <!-- end: Css -->
</head>

<body style="overflow-y: auto;">
    <div class="image-container set-full-height" style="background-image: url('/static/img/wizard-book.jpg')">
        <!--   Creative Tim Branding   -->
        <a href="/pac/r/i/" id='logo_a'>
             <div class="logo-container">
                <div class="logo">
                    <img style="margin-top: -5px;" src="/static/img/new_logo.png">
                </div>
                <div class="brand">{{ user.username }}</div>
            </div>
        </a>
        <a href="/pac/r/c/">
        <a href="/pac/r/c/">
             <div class="logo-container">
                <div class="logo">
                    <img style="margin-top: -5px;" src="/static/img/new_logo.png">
                </div>
                <div class="brand"></div>
            </div>
        </a>
        <!--  Made With Material Kit  -->
        <a href="#" class="made-with-mk">
            <div class="brand">PAC</div>
            <div class="made-with">Made with <strong>pactera</strong></div>
        </a>

        <!--   Big container   -->
        <div class="container">
            <!-- row -->
            <div class="row">
                
                <div class="col-sm-8 col-sm-offset-2" style="margin: 0 auto; width: 100%;">
                    <!--      Wizard container        -->
                    <div class="wizard-container" style="margin:0 auto; padding-top: 50px;">
                        <div class="card" data-color="red" id="wizard">
                        		<!-- Start content -->
                    			<div class="am-g">
                    				<div class="am-u-md-6" >
                    					<!-- 折线图堆叠 -->
                    					<div class="card-box">
                    						<div  id="Stack" style="width: 100%;height: 250px;"></div>
                    					</div>
                    				</div>
                    				
                    				<div class="am-u-md-6">
                    					<!-- 堆叠区域图  -->
                    					<div class="card-box">
                    						<div  id="area" style="width: 100%;height: 250px;"></div>
                    					</div>
                    				</div>
                    			</div>
                    			
                    			<div class="am-g">
                    				<div class="am-u-md-6">
                    					<!-- Step Line -->
                    					<div class="card-box">
                    						<div  id="step" style="width: 100%;height: 250px;"></div>
                    					</div>
                    				</div>
                    				
                    				<div class="am-u-md-6">
                    					<!-- 大数据面积图  -->
                    					<div class="card-box">
                    						<div  id="shuju" style="width: 100%;height: 250px;"></div>
                    					</div>
                    				</div>
                    			</div>
                    			
                    			<div class="am-g">
                    				<div class="am-u-md-12">
                    					<!-- 动态数据+时间坐标轴 -->
                    					<div class="card-box">
                    						<div  id="trends" style="width: 100%;height: 300px;"></div>
                    					</div>
                    				</div>
                    			</div>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!--  big container -->
        <div class="footer" style="margin-top: 30px;">
            <div class="container text-center">
                 made with <i class="fa fa-heart heart"></i> by <a href="#">pactera</a>
            </div>
        </div>
    </div>

</body>
    <!--   Core JS Files -->
    <script src="/static/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script> 
    <script src="/static/js/jquery.bootstrap.js" type="text/javascript"></script>
		
    <!--  Plugin for the Wizard -->
    <script src="/static/js/material-bootstrap-wizard.js"></script>

    <!--  More information about jquery.validate here: http://jqueryvalidation.org/  -->
    <script src="/static/js/jquery.validate.min.js"></script>

    <!-- chart -->
    <script type="text/javascript" src="/asset/js/charts/echarts.min.js" ></script>
    <script type="text/javascript" src="/asset/js/charts/lineChart.js" ></script>

    <script type="text/javascript">
    $(function(){
    });
    </script>

</html>
